[run]
branch = True
source = blue_booking_app
omit =
    .venv/*
    */migrations/*
    */tests/*
    manage.py
    */wsgi.py
    */asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == "__main__":
    if TYPE_CHECKING:
    @(abc\.)?abstractmethod