# Linting & Formatting
black==26.5.1
pylint-django==2.8.0

# Testing
coverage==7.15.0
pytest-django==4.12.0

# Dev tools (remove these from prod)
pipdeptree==4.1.0  # for checking dependencies
# pip==26.1.2  # ← you don't need to pin pip itself