{% load allauth i18n %}

<div id="password-change-content">
    <h1>{% trans "Change Password" %}</h1>
    <form method="post"
          action="{% url 'accounts:password_change_partial' %}"
          hx-post="{% url 'accounts:password_change_partial' %}"
          hx-target="#password-change-content"
          hx-swap="innerHTML">

        {% csrf_token %}
        {{ redirect_field }}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            {% trans "Change Password" %}
        </button>

        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>


{% comment %}
{% load allauth i18n %}

<form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ redirect_field }}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">
        {% trans "Change Password" %}
    </button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% endcomment %}
